*.swp
*.swo
*.pid
*.xml
*.csr
*.crt
*.key
www
home-assistant.log
home-assistant_v2.db
*.db-journal
lib
deps
tts
secrets.yaml
known_devices.yaml
*.conf
*.sqlite
.*
!/.gitignore
!/.travis.yml
ip_bans.yaml
